<section data-wn-border-element="s-f-border" class="s s-f s-f-basic s-f-simple sc-w wnd-w-wider wnd-s-higher">
	<div class="s-w">
		<div class="s-o">
			<div class="s-bg">
                <div class="s-bg-l"></div>
			</div>
			<div class="s-c s-f-l-w s-f-border">
				<div class="s-f-l b-s b-s-t0 b-s-b0">
					<div class="s-f-l-c s-f-l-c-first">
						<div class="s-f-cr">
                            <span class="it b link">
                                <span class="it-c">Powered by <a href="https://cybercorner.dev/" target="_blank" rel="noopener">Cybercorner</a></span>
                            </span>
                        </div>
						<div class="s-f-sf">
                            <span class="sf b">
                                <span class="sf-content sf-c link">Az oldalt az Elit-Ingatlaniroda üzemelteti</span>
                            </span>
                            <span class="sf-cbr link">
                                <a href="#" rel="nofollow">Sütik</a>
                            </span>
                        </div>
					</div>
					<div class="s-f-l-c s-f-l-c-last">
						<div class="s-f-lang lang-select cf"></div>
					</div>
                </div>
			</div>
		</div>
	</div>
</section>
